<!doctype html>
<html>
<head>
  <title>Goodbye</title>
</head>
<body>
    <form action="/madlib">
      <label>Name</label>
      <input type ="text" name="name">

      <select name="colors" >
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="yellow">Yellow</option>
      </select>

      <input type="radio" name="noun" value="dog">
      <label>Dog</label>
      <input type="radio" name="noun" value="cat">
      <label>Cat</label>
      <input type="radio" name="noun" value="balloonicorn">
      <label>Balloonicorn</label>

      <label>Adjective</label>
      <input type ="text" name="adjective">
    </form>
</body>
</html>